<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:pigeon="http://code.dianping.com/schema/pigeon"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                http://code.dianping.com/schema/pigeon http://code.dianping.com/schema/pigeon/pigeon-service-2.0.xsd">
    <!-- 第一种 -->
    <!--<bean id="echoService" class="com.dianping.pigeon.remoting.invoker.config.spring.ReferenceBean" init-method="init">
        &lt;!&ndash; 服务全局唯一的标识url，必须设置 &ndash;&gt;
        <property name="url" value="http://wzhe.site/demoService/echoService_1.0.0" />
        &lt;!&ndash; 接口名称，必须设置 &ndash;&gt;
        <property name="interfaceName" value="site.wzhe.pigeon.api.EchoService" />
        &lt;!&ndash; 超时时间，毫秒，建议自己设置 &ndash;&gt;
        <property name="timeout" value="2000" />
        &lt;!&ndash; 序列化，hessian/fst/protostuff，默认hessian，可不设置 &ndash;&gt;
        <property name="serialize" value="hessian" />
        &lt;!&ndash; 调用方式，sync/future/callback/oneway，默认sync，可不设置 &ndash;&gt;
        <property name="callType" value="sync" />
        &lt;!&ndash; 失败策略，快速失败failfast/失败转移failover/失败忽略failsafe/并发取最快返回forking，默认failfast，可不设置 &ndash;&gt;
        <property name="cluster" value="failfast" />
        &lt;!&ndash; 是否超时重试，默认false，可不设置 &ndash;&gt;
        <property name="timeoutRetry" value="false" />
        &lt;!&ndash; 重试次数，默认1，可不设置 &ndash;&gt;
        <property name="retries" value="1" />
    </bean>-->

    <!-- 第二种 -->
    <pigeon:annotation package="site.wzhe.pigeon.invoker"/>
    <bean id="annotationInvoker" class="site.wzhe.pigeon.invoker.AnnotationInvoker" />
</beans>